@charset 'utf-8';

/* Base styles */
body {
	background: #4c4c4c url('images/header.png') 0 0 repeat-x;
	border-top: 1px dashed #777;
	padding: 0;
	margin: 0;
}

p {
	font-family: Verdana, sans-serif;
}

ul {
	font: 400 14px Arial, Helvetica, sans-serif;
	overflow: hidden;
	clear: both;
	padding: 0;
	margin: 0;
}

code {
	position: relative;
	margin: 14px 20px;
	display: block;
}

code pre {
	font: normal 12px Monaco, monospace, sans-serif;
	text-shadow: -1px 0 1px #111;
	border-left: 15px solid #555;
	border-radius: 0 8px 8px 0;
	padding: 12px 16px;
	background: #333;
}

table, thead, tbody, tfoot, caption, td, tr, th  {
	margin: 0 auto;
	padding: 0;
}

::selection {
	background: #fff;
}

/* Core layout */
#shell,
#footer div {
	margin: 0 auto;
	width: 80%;
}

#header {
	height: 150px;	
}

#base {
	clear: both;	
}

#footer {
	background: transparent url('images/bottom.png') 0 100% repeat-x;
	border-bottom: 1px dashed #777;
	height: 110px;
	clear: both;
}

#footer div {
	position: relative;
	top: 50px;	
}

#footer p {
	font: normal 18px Verdana, sans-serif;
	text-shadow: -1px 0px 1px #444;
	text-align: center;
	color: #fff;
	padding: 0;
}

/* Core styles */
#header #logo {
	background: transparent url('images/logo.png') 0 0 no-repeat;	
	text-decoration: none;
	text-indent: -9999px;
	margin: 5px 0 0;
	display: block;
	outline: none;
	height: 104px;
	width: 248px;
	float: left;
}

#header p {
	text-shadow: 0 0 2px #444;
	letter-spacing: 1px;
	line-height: 26px;
	margin-top: 43px;
	font-weight: 700;
	font-size: 20px;
	color: #fafc5d;
	float: right;	
}

/* Main Area */
#base .wrapper {
	margin-bottom: 40px;
	position: relative;
	min-height: 280px;
	float: left;
	width: 100%;
	clear: both;
}

#base .content {
	box-shadow: inset 0 0 12px rgba( 20, 20, 20, .4);
	border: 1px dashed #444;
	padding: 25px 30px;
	border-radius: 8px;	
	margin: 0 0 20px;
	display: block;
	z-index: 10;
}

#base .description {
	background: #b1b1b1;	
}

#base .listing {
	background: #bec58c;	
}

.content p {
	text-shadow: -1px 1px 1px #cacaca;
	margin: 5px 10px 20px;
	line-height: 20px;
	font-size: 16px;
	color: #1f3533;
}

.content a {
	color: #881ab1;
}

.content i {
	border-bottom: 1px dashed #c16418;
	color: #a91945;
}

/* list styles */
.content ul.list {
	font: 400 15px Tahoma, Verdana, sans-serif;
	text-shadow: 0 0 1px #fff;
	margin: 15px 0 15px 20px;
	display: inline-block;
	line-height: 20px;
	color: #80240c;
}

.content .list li::before {
	position: relative;
	margin-right: 8px;
	font-size: 12px;
	color: #55880d;
	content: "[+]";
	top: -1px;
}

.content .list li::after {
	color: #dc4523;
	content: " ;";
}

/* code styles */
.content .js pre {
	color: #6a56ce;	
}


.content .css pre {
	color: #ce5f56;		
}

.content .html pre {
	color: #50d236;		
}

.content .API pre {
	color: #f25ee2;		
}

/* indicate syntax */
.content .js pre::after,
.content .css pre::after,
.content .html pre::after,
.content .API pre::after {
	display: inline-block;
	border-radius: 6px;
	position: absolute;
	background: #555;
 	padding: 4px 2px;
	color: #9de3fa;
	opacity: .4;
	right: 7px;	
 	top: 7px;
}

.content .js pre::after {
	content: '( jQuery )';
}

.content .css pre::after {
	content: '{ CSS }';
}

.content .html pre::after {
	content: '< HTML >';
}

.content .API pre::after {
	content: '[ API ]';
}

/* reference table */
table {
	border-radius: 8px 8px 10px 10px;
	border: 1px solid #444;
	margin: 20px auto;
	background: #777;	
	padding: 4px;
}

table caption {
	font: 400 16px Helvetica, sans-serif;
	padding: 10px 15px 20px;
	color: #222;
}

table thead,
table tfoot {
	font: 700 14px Verdana, Tahoma, sans-serif;
	text-shadow: 1px 0 1px #fff; 
	background: #aca1e6;
	text-align: center;	
	color: #333;
}

table tbody {
	text-shadow: 0 -1px 1px #91ac80;
	font-family: Monaco, monospace;	
	background: #b3b3b3;
	font-weight: normal;
	font-size: 13px;
	color: #356a14;
}

table td {
	padding: 8px 14px;
}

table tbody td:hover {
	background: #f8f8f8;
}

/* .tabs */
.visible {
	display: block !important;
}

.tabs {
	list-style-type: none;
	letter-spacing: 1px;
	margin-left: 40px;
}

.tabs li {
	box-shadow: inset 0 0 4px rgba( 40, 40, 40 , .5 ), 0 0 5px 1px rgba( 115, 220, 255, .5);
	border-radius: 5px 5px 0 0;
	border: 1px solid #333;
	padding: 5px 8px 8px;
	background: #dcdcdc;
	position: relative;
	margin: 2px 4px;
	color: #243f1f;
	float: left;
	z-index: 5;	
	top: 8px;	
}

.tabs .current,
.tabs li:hover {
	box-shadow: 0 0 5px 1px rgba( 244, 155, 27, .5);
	cursor: pointer;
	color: #9c1ec5;
	top: 4px;		
}


/* @import > transitions */
.tabs li {
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;	
}
