/** swicher menu */
.switcher { 
	-moz-border-radius: 0 0 6px 6px;
	-moz-box-shadow: 1px 3px 4px #000;
	box-shadow: 1px 3px 4px #000;	
	border-radius: 0 0 6px 6px;
	text-indent: -9999px;
	margin: -14px 8px 0;
	padding: 5px 6px 0; 
	background: #fff;
	list-style: none; 
	height: 20px;
	width: 105px;
}

/* controls */
.switcher li {
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	margin: 0 3px;
	height: 15px;
	width: 15px;
	float: left;
} 

/* control active style */
.switcher li.activ::after {
	position: absolute;
	text-indent: 0;
	display: block;
	content: "^";
	color: #000;
	top: 14px;
	left: 4px;
}

/* control hover style */
.switcher li:hover {
	box-shadow: inset 0 0 2px 3px #a3a3a3;
}

/* switcher default controls styles + group controls */
li#st1_usr_style, li#st1_usr_style_font, li#st1_usr_style_layout { background: #000;    }   /* [1] */
li#st2_usr_style, li#st2_usr_style_font, li#st2_usr_style_layout { background: #663399; } /* [2] */
li#st3_usr_style, li#st3_usr_style_font, li#st3_usr_style_layout { background: #663333; } /* [3] */
li#st4_usr_style, li#st4_usr_style_font, li#st4_usr_style_layout { background: #680000; } /* [4] */
li#st5_usr_style, li#st5_usr_style_font, li#st5_usr_style_layout { background: #006633; } /* [5] */



/* main page styles */
#shell {
	margin: 0 auto;
	width: 980px;
}

#content {
	border-radius: 20px;
	padding: 12px 8px;
	background: #ccc;
	margin: 30px 0;
}

/* inside contents */
h1 {
	font: normal 22px Vardana, Arial, sans-serif;
	border-bottom: 1px dashed #444;
	text-shadow: -1px 0 2px #fcfcfc;
	color: #b22222;
}

h2 {
	border-bottom: 1px dotted #777;
	font: normal 18px Verdana;
	line-height: 21px;
	color: #222;
} 

p {
	font: normal 16px Tahoma, Verdana, sans-serif;
	line-height: 18px;
	color: #222;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li { 
	font: normal 12px Georgia, Helvetica, sans-serif;
	border-bottom: 1px dotted #ff0000;
	color: #b22222;
}

/* code */
code pre {
	font: normal 14px monospace, Monaco;
	border-left: 2px dashed #b22222;
	padding: 12px 12px 12px 30px;
	background: #f2f2f2;
	color: orange;
}


